@font-face {
    font-family: 'Arno Pro';
    font-display:swap;
    src: url('../fonts/ArnoPro-Display.woff2') format('woff2'),
         url('../fonts/ArnoPro-Display.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arno Pro';
    font-display:swap;
    src: url('../fonts/ArnoPro-LightDisplay.woff2') format('woff2'),
         url('../fonts/ArnoPro-LightDisplay.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    font-display:swap;
    src: url('../fonts/Circe-Light.woff2') format('woff2'),
         url('../fonts/Circe-Light.woff') format('woff');
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    font-display:swap;
    src: url('../fonts/Circe-Regular.woff2') format('woff2'),
         url('../fonts/Circe-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}