html,
body {
	height: 100%;
	color: #181818;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1234px;
  margin: 0 auto;
  padding: 0 15px;
}
.container__portfolio{
	max-width: 1234px;
  margin: 0 auto;
  padding: 0 0px;
}





