.header{
    position: fixed;
    display: block;
    width: 100%;
    height: 70px;
    margin:0 auto;
    top: 0;
    left: 0;    
    background-color: #fff;
    z-index: 50;
    
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 2;
}
.header__inner{       
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px 0;    
      
}
.logo{
    display: block;
    position: relative; 
    z-index: 3;   
    img{
        width: 100%;
    }
}
.menu{
    display: block;
    padding: 29px 0 16px;
       
}
.menu__list{
    display: flex;
    position: relative;
    z-index: 2;

}
.menu__list-link+.menu__list-link {
    margin-left: 35px;
}

.menu__list-link{
    a{       
    color: #3f3030;
    font-family: 'Arno Pro';
    font-weight: 300;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-bottom: 1px solid transparent;
    transition: all .3s linear;
    }
    a:hover{
       color: $second-color;
       border-bottom: 1px solid $second-color;
    }
}
.header__tel-box{
    font-family: 'Arno Pro';
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    padding: 29px 0 16px;
    position: relative;
    z-index: 3;
}

.header__phone{
    text-decoration: none;    
    color: #181818;   
    &:hover{        
        opacity: .7;  
    }
}

.header__phone:before{
    content: "";
    height: 15px;
    width: 15px;
    background: url(../images/tel.svg) no-repeat 50%;
    background-size: cover;
    display: inline-block;
    margin-right: 10px;

}
.mobile__tel-box{
    display: none;
}


