.reviews{
   padding: 120px 0; 
   legend{
    margin: 0;
   }  

   &__inner{         
    width: 1160px;
    max-width: 100%;
    margin: 0 auto;    
   }
   &__slider{
       margin: 0 15px 2;
   }
   &__img-wrapper{       
       width: 518px;       
       height: 534px;
       margin-right: -54px;              
       filter: drop-shadow(0px 0px 20px rgba(69, 69, 69, 0.15));
    
       img{           
           height: 100%;
           width: 100%;
           object-fit: cover;
       }
   }
   &__item-inner{ 
    height: 532px;         
    display: flex;
    justify-content: space-between;
    background-color: #fff; 
    box-shadow: 0px 0px 20px rgba(69, 69, 69, 0.15);
    padding: 25px; 
    
 }
   &__item{
    display: block;    
    padding:60px;    
       &-title{
        font-family: 'Arno Pro';
        font-weight: 300;
        font-size: 30px;
        line-height: 35px;
        max-width: 475px;
        margin-bottom: 15px;
       }
       &-col{
        max-width: 500px;   
        padding-right: 10px;
       }
       &-text{
        font-family: 'Circe';
        font-weight: 350;
        font-size: 18px;
        line-height: 26px;
        overflow: hidden; 
        max-height: 312px;   
        max-width: 500px;
        margin-bottom: 25px;
       }
       &-author{
        font-family: 'Circe';
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
       }
    }
}
/*стрелки навигация*/
.reviews__nav{
    display: flex;
    justify-content: space-between;
    max-width: 508px;
    width: 100%;
    margin-top: -36px;
    position: relative;
    z-index: 10;    
    &-container{
        padding: 0 60px;
    }
    span{
        display: inline-block;
        width: 90px;
        height: 11px;
        cursor:pointer;
    }
    &-prev{
        background-image: url(../images/slick-left.svg);
        background-repeat: no-repeat;
        background-position: center center;        
    }
   
    &-next{
        background-image: url(../images/slick-right.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
    &-prev:hover,
    &-next:hover{        
        filter: blur(1px);
        // filter: drop-shadow(0px 1px 4px #ca6d38);
        transition: .3s;
    }    
.slick-slide{
    display: block;
}
    .slick-dots{
        display: flex;          
        li{
            button{
               display: block; 
               font-size: 0;
               color: transparent;               
               height: 11px;
               width: 11px;
               margin: 0 10px;
               padding: 0;
               cursor: pointer;
               border: 2px solid #DFD7D3;               
               border-radius: 50%;      
               transition: .3s; 
            }
            &.slick-active{                
               button{
                   background-color: #CA6D38;                   
                   border-color: #CA6D38;                  
                   box-shadow: 1px 1px 4px rgba(202, 109, 56, 0.8);
                //    filter: blur(1px);                   
               } 
            }
        }

        
        
    }
}


 
    
 



